{% extends 'layout/base.html.twig' %}

{% block content %}
    <h1 class="page-header">タスク</h1>
    <div class="row">
        <div class="col-sm-15">
            <div class="panel panel-default">
                <div class="panel-heading">タスク編集</div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
  　　　　　　　　　       <li role="presentation"><a href="/">戻る</a></li>
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#testModal"style="float: right;">削除</button>
                    </ul>
                    {% if todos %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>CreatedAt</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for todo in todos %}
                                <tr>
                                    <td>{{ todo.id }}</td>
                                    <td>{{ todo.title }}</td>
                                    <td>{{ todo.createdAt|date("Y/m/d H:i:s") }}</td>
                                    <td>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                            {{ todo_edit_form|raw }}
                                            
                            <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>削除確認画面</h4></h4>
                                        </div>
                                        <div class="modal-body">
                                            <label> ID:{{ todo.id }}のデータを削除しますか？</label>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                            <a class="btn btn-danger" href="/delete?id={{ todo.id }}">はい</a> 
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="panel-body">
                            <p>タスクがありません</p>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
